<% cont = 1 %>
<div class="row-fluid apps">
  <%= will_paginate @apps %>
  <ul class="thumbnails">
    <% @apps.each do |app| %>
        <% if cont%5 == 0 %>
            <li class="span3 cinco">
        <% else %>
            <li class="span3">
        <% end %>
        <div class="thumbnail">
          <a href="#">
            <img data-src="images/1.jpg" alt="">
            <%= link_to image_tag("/images/#{app.id}.jpg", alt: "logo App"), 'http://rubyonrails.org/' %>
          </a>
          <div class="caption">
            <h3>
              <%= app.name %>
            </h3>
            <div class="descr_short">
              <%= app.description_short %>
            </div>
          </div>
          <div class="botonera">
            <a class="btm" href="#">Instalar</a>
          </div>
        </div>
        </li>
        <% cont += 1 %>
    <% end %>
  </ul>
  <%= will_paginate @apps %>
</div>